[global]
  checkNewVersion = true
  sendAnonymousUsage = true

[entryPoints]
  [entryPoints.{{ traefik_insecure_entrypoint }}]
    address = ":80"
  [entryPoints.{{ traefik_secure_entrypoint }}]
    address = ":443"
  [entryPoints.traefik]
    address = ":8080"
{% if traefik_external_hostnames is defined %}
{% for host in traefik_external_hostnames %}
{% if 'traefik_entrypoint' in hostvars[host] %}
  [entryPoints.{{ hostvars[host].traefik_entrypoint.name }}]
    address = ":{{ hostvars[host].traefik_entrypoint.port }}"
{% endif %}
{% endfor %}
{% endif %}

[providers]
  providersThrottleDuration = 42
  [providers.docker]
    exposedByDefault = true
    network = "{{ traefik_network_int }}"
  [providers.file]
    filename = "/etc/traefik/dynamic_conf.toml"
    #directory = "/etc/traefik/"
    watch = true

[tls.stores]
  [tls.stores.default]
    [tls.stores.default.defaultCertificate]
      certFile = "/certs/certs/{{ inventory_hostname }}.pem"
      keyFile = "/certs/private/{{ inventory_hostname }}.pem"

[log]
  level = "DEBUG"
  # filePath = "log-file.log"
  # format = "json"

[api]
  dashboard = true
  insecure = true

[http.middlewares]
  [http.middlewares.redirect.redirectscheme]
    scheme = "https"
#  [http.middlewares.authtraefik.basicauth]
#    users = [
#      "admin:$apr1$7AQWcCuZ$D1I3sdJ72kDcr7dBmDVyE."
#    ]
